/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.move {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.ship {
  position: relative;
  z-index: 1;
  animation: myMove 5ss infinite;
}
/* fix typo above */
.ship {
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}
@keyframes myMove {
  from {
    left: 0%;
  }
  to {
    left: 100%;
  }
}

.test {
  background: rgb(105, 41, 41) !important;
}

.starBack {
  background-image: url("./images/misc/StarBackground.png");
  background-size: cover;
}

.hqBack {
  background-color: #000;
  /* background-image: url("./images/misc/newnewyorkskyline.png"); */
  background-image: url("./images/misc/SkylineStarBackground.png");
  /* background-position: bottom; */
  /* background-size: cover; */
  padding: 3% 5% 10%;
}

html,
body {
  /* width: 100%; */
  /* height: 100%; */
  background-color: #000;
  color: #fff;
}

.body {
  margin: 0;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  /* height: 100%; */
}

.card {
  /* background-color: rgb(202, 176, 176); */
  min-width: 50%;
  min-height: 200px;
  display: flex;
  overflow-x: auto;
  margin-top: 3%;
}

.card-content {
  background-color: #e74c3c;
  min-width: 15%;
  min-height: 400px;
  margin: 35px;
}

.card::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}
